body {
  background-image: url("/static/images/background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hole-container {
  right: 50%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top:100px;
  margin-bottom: 0%;
  margin-left: 200px;
  margin-right: 200px;
   transform: translate(-1%, 70%);
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}