body {
  background-image: url("/static/images/background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hole-container {
  bottom: 10px;
  right: 50%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom:0px;
  /*margin-top: 0px;*/
  margin-left: 50px;
  overflow: hidden;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}