body {
  background-image: url("/static/images/background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hole-container {
  bottom: 10px;
  right: 50%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top:100px;
  margin-bottom: 0%;
  margin-left: 200px;
  margin-right: 200px;
  transform: translate(-1%, 65%);
  cursor: url("/static/images/hole.png"), pointer;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.mole-pic {
  position: relative;
  z-index: 3;
  left: -150px;
  visibility: hidden;
}

.hole-pic {
  position: relative;
  z-index: 1;
}