<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whack-a-mole</title>
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <script type="text/javascript" src="static/js/main.js" defer></script>


</head>
<body>
<div class="game">
    <img id="hammer" src="../static/images/hammer.png" alt="hammer">
    <div class="hole-container">
        <div class="row">

            <div class="hole">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" id="1" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="2">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="3">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="4">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="5">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>
        </div>

        <div class="row">

            <div class="hole" id="6">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="7">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="8">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="9">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="10">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>
        </div>

        <div class="row">

            <div class="hole" id="11">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="12">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="13">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="14">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>

            <div class="hole" id="15">
                <img class="hole-pic" src="../static/images/hole2.png" height="165" width="165" alt="hole">
                <img class="mole-pic" src="../static/images/mole3.png" height="100" width="100" alt="mole">
            </div>
        </div>

    </div>
</div>
</body>
</html>