<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whack-a-mole</title>
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <script type="text/javascript" src="static/js/main.js" defer></script>


</head>
<body>
<div class="game">
    <div class="hole-container">
        <div class="row">
            <div class="hole" id="1">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="2">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="3">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="4">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="5">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hole" id="6">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>

            <div class="hole" id="7">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="8">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="9">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="10">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hole" id="11">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>

            <div class="hole" id="12">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="13">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="14">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
            <div class="hole" id="15">
                <img src="../static/images/hole2.png" height="150" width="150" alt="hole">
                <div class="mole">
                    <img src="../static/images/mole3.png" height="150" width="150" alt="mole" hidden>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>